doctype html
html
    head
        title upload
        meta(charset='urf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        form(action="/profile" method="post" enctype="multipart/form-data")
                input(type="file" name ="avatar")
                button(type="submit") 提交
